@import '~antd/dist/antd.css';

::selection {
  background: #446B40;
}

.Homepage-body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}

blockquote {
  font-size: 20px;
  line-height: 1.5625em;
  font-weight: 400;
}

.content {
  margin: 0;
  padding: 0 150px 100px 0;
  max-width: 970px;
}

.anticon svg {
  color: rgb(68, 107, 64);
}

.site-back-top-basic {
  color: rgb(68, 107, 64);
}
